
.input {
   margin-left: -200px;
    /* width: 50px; */
}
.input input {
    width: 500px;
    
}
.input button{
    float: right;
    margin-right: 100px;
}
.column-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    border-radius: 0px;
    margin-left:50px;
    border-color: black
}
.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width:90%;
    margin-left:50px;
    margin-bottom:30px;
    border-color: black
}

.border{
    border:1px solid black;
}

.column-last {
    padding-left: 0px;
}
.column-phone {
    flex-grow: 0.14;
}

.column-email {
    flex-grow: 0.1;
}
.column-button {
    float:right;
}
.layer {
    position: fixed;
    z-index: 20;
    left: 20%;
    top: 20%;
    height: 60%;
    width: 65%;
    overflow: auto;
    background-color: rgba(223, 161, 161,1)
}

.element {
    position: relative;
    left:0;
}
.element label{
    position: absolute;
    margin-left:10%;
    left: 0;
    transition: 0.5s;
    font-size:18px;
    pointer-events: none;
}

.element input{
    font-size:18px;
    box-sizing:none;
    margin-left:25%;
   margin-bottom:35px;
    height:30px;
    width: 40%;
    border:none;
    background: transparent;
    background-color: transparent;
    border: 1px solid rgb(54, 29, 29);
}